$bg-color: #151019;
$accent-color: #88C7FD;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('../../public/images/bg.png');
  background-size: cover;
  margin: 0px;
  overflow: hidden;
  place-items: center;
  justify-content: center;
}

.heading {
  color: white;
  font-size: 2rem;
  margin: 0px;
  padding: 20px;
  font-weight: 400;
  text-align: center;
}

.text {
  font-size: 1.2rem;
}

.buttonContainer {
  margin-top: 1rem;
}

.button {
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 0.25rem; /* Add rounded corners */
}

/*
.title {
  color: white;
  font-size: 2rem;
  margin: 0px;
  padding: 20px;
  font-weight: 400;
  text-align: center;
  border: 4px outset $accent-color;
  border-radius: 16px;
  background: linear-gradient(90deg, #ff0000, #ff00f3, #0033ff, #ff0077);
  background-size: 400%;
  letter-spacing: 2px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
*/

.title {
  color: white;
  font-size: 2rem;
  margin: 0px;
  padding: 20px;
  font-weight: 400;
  text-align: center;
  border: 4px outset $accent-color;
  border-radius: 16px;
}