.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/images/bg.png");
  background-size: cover;
  margin: 0px;
  overflow: hidden;
  place-items: center;
  justify-content: space-evenly;
}

.heading {
  color: #ffffff;
  font-size: 2rem;
  margin: 0px;
  padding: 20px;
  font-weight: 400;
  text-align: center;
}

.text {
  font-size: 1.2rem;
}

.buttonContainer {
  margin-top: 1rem;
}

.button {
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 0.25rem;
  color: #ffffff;
}

.list {
  display: inline-flex;
  border: 4px outset #88c7fd;
  vertical-align: top;
}